<h1>
<!--    <span *ngIf="equipo.id">Editar</span>-->
<!--    <span *ngIf="!equipo.id">Nuevo</span>-->
  {{  ( equipo.id ) ? 'Editar': 'Nuevo' }}
 Equipo:
  <small> {{ equipo.id }}</small>
</h1>


<div fxLayout="row"
     fxLayoutGap="40px"
     fxLayout.xs="column">

  <div fxFlex="50" fxLayout="column">
    <!-- Primera linea del formulario
      fxLayout.xs="column" -> para pantallas pequeñas-->
    <div fxLayout="row"
         fxLayout.xs="column"
         fxLayoutGap="20px">

      <mat-form-field fxFlex="100">
        <mat-label>Equipo</mat-label>
        <input matInput
               type="text"
               [(ngModel)]="equipo.equipo"
               required>
      </mat-form-field>

      <mat-form-field fxFlex="100">
        <mat-label>Modelo</mat-label>
        <input matInput
               type="text"
               [(ngModel)]="equipo.modelo"
               required>
      </mat-form-field>
    </div>

    <mat-form-field >
      <mat-label>Fecha compra</mat-label>
      <input matInput
             type="text"
             [(ngModel)]="equipo.fechacompra"
             required>
    </mat-form-field>
    <mat-form-field >
      <mat-label>Lugar instalado</mat-label>
      <input matInput
             type="text"
             [(ngModel)]="equipo.lugarInstalacion"
             required>
    </mat-form-field>

<!--    <mat-form-field >-->
<!--      <mat-label>Creador</mat-label>-->
<!--      <mat-select  [(ngModel)]="heroe.publisher"-->
<!--                   required>-->
<!--        <mat-option *ngFor="let p of publisher"-->
<!--                    [value] ="p.id">-->
<!--          {{ p.desc}}-->
<!--        </mat-option>-->
<!--      </mat-select>-->
<!--    </mat-form-field>-->

<!--    <div fxFlex="50">-->
<!--      <img [src]="equipo | imagen"  alt="{{ equipo.id }}">-->
<!--    </div>-->
    <br>

    <div fxLayout="row">

      <button mat-raised-button
              color="primary"
              (click)="guardar()"  >
<!--        <mat-icon>edit</mat-icon>-->
        <mat-icon>save</mat-icon>
<!--        {{  ( heroe.id ) ? 'Actualizar': 'Crear' }}-->

      </button>
      <span class="spacer"></span>
<!--      <button *ngIf="heroe.id"-->
      <button
              mat-raised-button
              (click)="borrarEquipo( )"
              color="warn">
        <mat-icon>delete</mat-icon>

      </button>

    </div>

  </div>

<!--  En la siguiente columna se establecerá en ingreso de la imagen-->

  <div fxLayout="row" fxFlex="50"  fxLayout.xs="column">
    <img [src]="equipo | imagen"  alt="{{ equipo.id }}">
<!--    <div fxFlex="45" class="mat-" fxLayoutGap="50px">-->
<!--      <h3>Seleccione archivos</h3>-->
<!--      <div class=" drop-zone file-over">-->
<!--        <h4>Deje Caer aquí el archivo</h4>-->
<!--        <img class="imagen-carga" src="/assets/drop-images.png" alt="">-->
<!--      </div>-->



<!--        <div   fxLayout="row"  >-->

<!--          <button-->
<!--            mat-raised-button-->
<!--            color="primary"-->
<!--            (click)="cargaArchivo()"  >-->
<!--            &lt;!&ndash;        <mat-icon>edit</mat-icon>&ndash;&gt;-->
<!--            <mat-icon>file_upload</mat-icon>-->
<!--            &lt;!&ndash;        {{  ( heroe.id ) ? 'Actualizar': 'Crear' }}&ndash;&gt;-->

<!--          </button>-->
<!--          <span class="spacer"> </span>-->
<!--          &lt;!&ndash;      <button *ngIf="heroe.id"&ndash;&gt;-->
<!--          <button-->
<!--            mat-raised-button-->
<!--            (click)="limpiarArchivo( )"-->
<!--            color="warn">-->
<!--            <mat-icon>delete</mat-icon>-->

<!--          </button>-->

<!--        </div>-->



<!--    </div >-->

<!--    <div  fxFlex="55">-->
<!--        <h3>Carga de archivos</h3>-->

<!--      <table class="table">-->
<!--        <thead>-->
<!--        <tr>-->
<!--          <th>Nombre archivo</th>-->
<!--          <th>tamaño</th>-->
<!--          <th>Progreso</th>-->
<!--        </tr>-->
<!--        </thead>-->
<!--        <tbody>-->
<!--&lt;!&ndash;        *ngFor="let fichero of archivos"&ndash;&gt;-->
<!--        <tr >-->
<!--          <td>-->
<!--&lt;!&ndash;          <td [ngClass]="{ 'text-green': fichero.progreso>=100 }">&ndash;&gt;-->
<!--&lt;!&ndash;            {{ fichero.nombreArchivo}}&ndash;&gt;-->
<!--            abc-->
<!--          </td>-->
<!--          <td>-->
<!--&lt;!&ndash;            {{fichero.archivo.size / 1024/ 1024 | number: '.2-2'}} MB&ndash;&gt;-->
<!--            05 MB-->
<!--          </td>-->
<!--          <td>-->
<!--            <div class="progress">-->
<!--&lt;!&ndash;              fichero.progreso&ndash;&gt;-->
<!--              <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': 25 + '%'}" ></div>-->
<!--            </div>-->
<!--          </td>-->
<!--        </tr>-->
<!--        </tbody>-->

<!--      </table>-->


<!--  </div>-->
  <!--  En la siguiente columna se establecerá en ingreso de la imagen-->

</div>

</div>
