


<div class="container">
 <li>
   <a routerLink="/auth/main">
     Ir a Login
   </a>
 </li>
  <br>
  <li>
    <a routerLink="/auth/registro">
      Ir a registro
    </a>
  </li>
  <br>
  <li>
    <a routerLink="/equipos/listado">
      Ir al listado
    </a>
  </li>
</div>



<mat-divider></mat-divider>
<br>

<div class="container">

<div >
   <section>

   <h1>  Estamos de mantenimiento </h1>
   </section>

  </div>

</div>

<!--  https://css-tricks.com/snippets/css/a-guide-to-flexbox/#background-->
