/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body, th { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/*Me coge to.do el espacio restante y me lo empuja hacia la derecha,
 el boton con el icono de salir a la derecha de la pantalla */
.spacer{
  flex: 1 1 auto;
}
/* zona para el recuadro de imagenes*/
/* Drop Zone */
.drop-zone {
  border: dotted 3px lightgray;
  opacity: 0.5;
  color: #666;
  text-align: center
}

.file-over {
  border: dotted 3px dodgerblue;
}
.imagen-carga{
  height: 100px;
}
